.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  background-color: #1b262c;
  color: white;
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav ul {
  padding: 0;
  margin: auto 25px;
}

.nav li {
  list-style: none;
  display: inline;
  margin: auto 25px;
  font-size: 22px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.navIcon {
  display: none;
}

@media only screen and (max-width: 992px) {
  .nav {
    position: fixed;
    background-color: #1b262c;
    left: -100%;
    top: 80px;
    width: 100%;
    margin: 0;
    transition: 0.5s;
  }
  .nav ul {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .nav li {
    display: block;
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 2.5% 5%;
    margin: 0;
  }
  .nav li:hover {
    background-color: #fefcf3;
    color: #1b262c;
  }

  .active {
    left: 0;
  }

  .navIcon {
    font-size: 18px;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
  }
}

/* Mobile */
/* @media only screen and (max-width: 768px) {
  .nav{
    position: fixed;
    background-color:#1B262C;;
    left:-100%;
    top:80px;
    width: 100%;
    margin: 0;
    transition: 0.5s;
  }
  .nav ul{
    padding:0;
    width: 100%;
    margin:0;
  }
  .nav li{
    display: block;
    width: 100%;
    height: auto;
    padding: 3% 5%;
    margin:0;
  }
  .nav li:hover{
    background-color: #fefcf3;
    color: #1B262C;
  }

  .active{
    left: 0;
  }

  .navIcon{
    font-size: 20px;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
  }
} */
