.header{
  height: 80px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B262C;
  position: fixed;
  top: 0;
}

.nav{
  color:white;
  display:flex;
  margin-left: auto;
}

.nav ul{
  padding:0;
  margin: auto 25px
}

.nav li{
  list-style: none;
  display:inline;
  margin: auto 25px;
  font-size: 22px;
}

.nav a{
  color: inherit;
  text-decoration: none
}