.main {
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  font-family: "Marmelad";
  font-style: normal;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1160px;
  height: auto;
  /* background-color:wheat; */
  margin: 30px;
  margin-bottom: 0;
  padding: 40px;
}

.desc {
  width: 75%;
  text-align: right;
  /* background-color: aqua; */
}

.desc h1 {
  margin: 0;
  font-size: 76px;
}

.desc p {
  font-size: 29px;
}

.picture {
  width: 25%;
  height: 100%;
  /* background-color: aquamarine; */
}

.link {
  text-decoration: underline;
}

.picture img {
  background-image: url("/public/images/site/Foto.png");
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
  .desc h1 {
    margin: 0;
    font-size: 70px;
  }

  .desc p {
    font-size: 26px;
  }

  .picture {
    width: 280px;
    height: 480px;
  }
} */

/* @media only screen and (max-width: 768px) {
  .main {
    padding-top: 40px;
  }

  .about {
    display: block;
  }

  .desc {
    width: 100%;
    text-align: left;
  }

  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
  }

  .picture .round {
    text-align: center;
    width: auto;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .desc h1 {
    margin: 0;
    font-size: 40px;
  }
  .desc p {
    font-size: 20px;
  }
  .picture img {
    overflow: hidden;
    width: 65%;
    height: auto;
  }
} */
