.main {
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  font-family: "Marmelad";
  font-style: normal;
  background-color: salmon;
}

.header {
  font-size: 102px;
  color: #31a5b5;
  width: fit-content;
  background-color: #1b262c;
  padding: 5px 15px;
  margin: 0;
}

.desc {
  font-size: 86px;
  padding: 0px 15px;
  margin: 0;
}

.nav {
  margin-top: 30px;
  padding: 0px 15px;
}

.nav :hover {
  cursor: pointer;
}

.btn {
  background-color: #1b262c;
  color: #ffffff;
  font-size: 24px;
  font-family: "marcellus";
  padding: 10px 35px;
  margin: 0 10px;
  border-radius: 50px;
}

.scroll {
  font-size: 20px;
}

.scroll i {
  margin: 0 5px;
  font-size: 22px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    font-size: 72px;
    width: fit-content;
  }

  .desc {
    font-size: 62px;
  }

  .btn {
    font-size: 20px;
    padding: 10px 35px;
  }

  .scroll {
    font-size: 18px;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .header {
    font-size: 34px;
    width: fit-content;
  }

  .desc {
    font-size: 28px;
  }

  .nav {
    margin-top: 20px;
    padding: 0px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 20px;
  }

  .scroll {
    font-size: 10px;
  }

  .scroll i {
    margin: 0 5px;
    font-size: 16px;
  }
}
