.main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #1b262c;
  color: white;
}

.marqIcon {
  margin: 70px 15px;
}

.marqIcon i {
  font-size: 94px;
  padding: 0 29px;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.cards {
  overflow-x: auto;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  min-height: 100px;
  padding-bottom: 15px;
  cursor: w-resize;
}

.cardscontent {
  margin: 0 32px;
  align-items: center;
  display: flex;
  font-weight: 900;
  justify-content: center;
}

.cards-content:first-child {
  margin-left: 2rem;
}
.cards-content:last-child {
  margin-right: 2rem;
}

/* Scroll bar */

.cards::-webkit-scrollbar {
  display: absolute;
  cursor: pointer;
  height: 8px;
  border: 1px solid #d5d5d5;
  border-radius: 50px;
}
.cards::-webkit-scrollbar-thumb {
  background-color: #fefcf3;
  border-radius: 50px;
}

/* Animation */

@keyframes moving {
  100% {
    transform: translateX(-2000px);
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
  .marqIcon {
    margin: 50px 15px;
  }

  .marqIcon i {
    font-size: 24px;
    padding: 0 19px;
  }
} */

/* Mobile */
@media only screen and (max-width: 768px) {
  .cards {
    grid-gap: 0.5rem;
    min-height: 50px;
    padding-bottom: 20px;
  }

  .marqIcon {
    margin: 30px 5%;
    padding: 0 5%;
  }

  .marqIcon i {
    font-size: 34px;
    padding: 0 15px;
  }

  .cardscontent {
    margin: 0px;
  }

  .cardscontent img {
    width: auto;
    height: 22px;
  }
}
