.main {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: "Marcellus SC";
  font-style: normal;
  margin-top: 80px;
}

.main a {
  text-decoration: underline;
}

.pict {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pict img {
  border-radius: 50px;
  border: 1px solid black;
}

.title {
  font-size: 52px;
  margin: 0;
  padding: 0 15px;
}

.main hr {
  height: 5px;
  margin: 15px;
  background-color: #1b262c;
  border-radius: 50px;
}

.main p {
  font-family: "Marmelad";
  padding: 0 15px;
  font-size: 26px;
  text-align: justify;
}

.imgContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin-top: 50px;
  padding: 0 60px;
  overflow: hidden;
}

.imgContainer img {
  border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .title {
    font-size: 48px;
  }

  .main p {
    font-size: 24px;
  }

  .imgContainer img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0px;
  }

  .pict {
    width: 100%;
    text-align: center;
  }

  .pict img {
    width: 90%;
    height: auto;
    border-radius: 25px;
  }

  .main hr {
    margin: 15px 5px;
  }

  .title {
    font-size: 24px;
    padding: 0 5px;
  }

  .main p {
    font-size: 16px;
    padding: 0 5px;
  }

  .imgContainer {
    grid-gap: 30px;
    margin-top: 30px;
    padding: 0px;
  }

  .imgContainer img {
    width: 100%;
    height: auto;
  }
}
