.main {
  display: flex;
  padding-top: 80px;
  align-items: center;
  /* background-color: salmon; */
  justify-content: center;
  font-family: "Marcellus";
  font-style: normal;
  overflow: hidden;
}

.cardsConainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin-top: 50px;
  padding: 0 15px 15px;
  overflow: hidden;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .cardsConainer {
    grid-gap: 50px;
    margin-top: 50px;
  }
}
