.main{
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  font-family: "Marcellus";
  font-style: normal;
}

.projects{
  width: 1160px;
  /* background-color:wheat; */
  margin:30px;
  margin-bottom:0;
  padding:40px;
}

.projects h1{
  font-size: 52px;
  margin: 0;
  padding: 0 15px;
}

.cardsConainer{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin-top: 50px;
  padding: 0 15px 15px;
  overflow: hidden;
}

.cardsConainer a{
  text-decoration: none;
  color:inherit;
}